fieldset {
  padding: 0;
  border: 0;
}

.input-field.col label {
  left: 1.25em;
  top: 4px;

  &.active {
    top: -4px;
  }
}

.search-form input.search-submit {
  &:hover,
  &:focus {
    background-color: darken($color-ff-gray-dark, 10%);
  }
}
