.nav-primary {
  display: flex;

  > .container-wide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .navbar {
    width: 100%;

    > ul {
      width: 100%;
    }
  }

  @media #{$large-and-up} {
    flex-direction: column;

    .navbar-menu {
      flex-grow: 1;
    }
  }
}

.navbar-menu {
  ul {
    a {
      font-size: 0.9rem;
      color: $color-ff-gray-dark;
      padding: 0.75rem 20px;

      &:hover,
      &:focus {
        background-color: $color-ff-green;
        color: $color-white;
      }
    }
  }

  @media #{$medium-only} {
    height: auto !important;

    > ul {
      width: 100%;
    }

    li {
      display: block;
    }
  }
  @media #{$medium-and-down} {
    padding: 0;
  }

  li.menu-item-has-children {
    > a {
      position: relative;
      z-index: 100;
      cursor: pointer;

      &::after {
        display: inline-block;
        margin-left: 0.5em;
        vertical-align: 0.255em;
        border-style: solid;
        border-width: 0;
        border-top-width: 2px;
        border-left-width: 2px;
        height: 7px;
        width: 7px;
        transform: rotate(225deg);
        transform-origin: center;
        content: '';
      }
    }

    .sub-menu {
      display: none;
      max-height: 1000rem;
      height: auto;
      overflow: visible;
      background-color: $color-ff-gray-dark;

      a {
        color: $color-white;
        padding: 0.75rem 20px;
        font-size: 0.85rem;
        line-height: 1.2em;
      }

      @media #{$large-and-up} {
        background-color: $color-ff-gray-dark;
      }
    }

    &.open {
      background-color: $color-ff-gray-dark;

      > a {
        color: $color-white;
      }

      > a::after {
        transform: rotate(45deg);
      }

      .sub-menu {
        display: block;
      }
    }
  }

  li.mega-menu {
    .sub-menu-label {
      display: block;
      text-decoration: none !important;
      text-transform: uppercase;
      padding: 0.5rem 0;
      margin: 0 20px;
      font-weight: bold;
      color: $color-ff-orange;
      border-bottom: 1px solid $color-ff-orange;
      font-size: 0.85rem;
      line-height: 1.2em;

      + .sub-menu {
        position: relative;
      }
    }

    > .sub-menu > li {
      margin-bottom: 1.5rem;
    }

    @media #{$large-and-up} {
      > .sub-menu > li {
        position: relative;
        width: 20%;
        padding: 10px;
        margin-bottom: 0;
      }

      &.open > .sub-menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        left: 0;
      }
    }
  }
}

// Menu toggles
.btn-menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  padding: 0.6rem 0.75rem;
  color: $color-ff-gray-dark;
  border: 0;
  background-color: transparent;

  > i.material-icons {
    font-size: 2.5rem;
  }

  &:focus {
    background-color: transparent;
  }
}
