.search-form {
  height: auto;
  background: $color-ff-gray-dark;
  border: 2px solid $color-ff-gray-dark;
  border-radius: 0;
  clear: both;
  line-height: 2.2rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 6px;
    right: 6px;
    width: calc(2.2rem - 12px);
    height: calc(2.2rem - 12px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../images/icon-search-white.svg');
    pointer-events: none;
  }

  label {
    float: left;
    width: calc(100% - 2.2rem);
  }

  input.search-field {
    background: $color-white;
    color: $color-ff-gray-dark;
    height: 2.2rem;
    margin: 0;
    padding: 0 10px;
    border: 0 !important;
    border-radius: 0;
    box-sizing: border-box;
    width: 100%;

    &::placeholder {
      color: $color-ff-gray-dark;
    }
  }

  input.search-submit {
    display: block;
    height: 2.2rem;
    width: 2.2rem;
    color: $color-ff-gray-dark;
    text-indent: -100em;
    overflow: hidden;
    border: none;
    background: $color-ff-gray-dark;
    cursor: pointer;
  }
}

.searchwp-highlight {
  background: $color-ff-orange;
}

.search-results {
  .main {
    margin-bottom: 2rem;
  }

  .excerpt-title {
    padding: 20px 20px 0;
    margin-bottom: 0;
  }

  .entry-summary {
    p {
      display: inline;
      margin: 0;
    }
  }
}
