@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Book.eot');
  src:
    url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham-Book.woff') format('woff'),
    url('../fonts/Gotham-Book.ttf') format('truetype'),
    url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-BookItalic.eot');
  src:
    url('../fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
    url('../fonts/Gotham-BookItalic.woff') format('woff'),
    url('../fonts/Gotham-BookItalic.ttf') format('truetype'),
    url('../fonts/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.eot');
  src:
    url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham-Medium.woff') format('woff'),
    url('../fonts/Gotham-Medium.ttf') format('truetype'),
    url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-MediumItalic.eot');
  src:
    url('../fonts/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-MediumItalic.woff2') format('woff2'),
    url('../fonts/Gotham-MediumItalic.woff') format('woff'),
    url('../fonts/Gotham-MediumItalic.ttf') format('truetype'),
    url('../fonts/Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.eot');
  src:
    url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Bold.woff2') format('woff2'),
    url('../fonts/Gotham-Bold.woff') format('woff'),
    url('../fonts/Gotham-Bold.ttf') format('truetype'),
    url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-BoldItalic.eot');
  src:
    url('../fonts/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-BoldItalic.woff2') format('woff2'),
    url('../fonts/Gotham-BoldItalic.woff') format('woff'),
    url('../fonts/Gotham-BoldItalic.ttf') format('truetype'),
    url('../fonts/Gotham-BoldItalic.svg#Gotham-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

html {
  font-size: 18px;

  &[data-text-size="medium"] {
    font-size: 20px;
  }

  &[data-text-size="large"] {
    font-size: 24px;
  }

  @media #{$small-and-down} {
    font-size: 16px;
  }

  font-family: 'Gotham', Helvetica, Arial, sans-serif;
}

.content {
  // h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, blockquote {
  //   font-family: nth($header-fonts-list, $i);
  // }
  //
  // &[data-buttons="1"] .btn {
  //   font-family: nth($header-fonts-list, $i);
  // }
  //
  // .et_bloom_optin.et_bloom_optin .et_bloom_form_container h2, .et_bloom_optin.et_bloom_optin .et_bloom_form_container h2 span, .et_bloom_optin.et_bloom_optin .et_bloom_form_container h2 strong {
  //   font-family: nth($header-fonts-list, $i) !important;
  //   font-size: rem-calc(36px) !important;
  // }
  //
  // .et_bloom_optin.et_bloom_optin .et_bloom_form_container p {
  //   font-family: nth($body-fonts-list, $i) !important;
  //   font-size: 1rem !important;
  // }

  // h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  //   color: $color-ff-green;
  // }
  //
  h1, .h1 {
    font-size: rem-calc(50px);
    font-weight: 600;
    color: $color-ff-gray-dark !important;
  }

  h2, .h2 {
    font-size: rem-calc(36px);
    font-weight: 600;
    color: $color-ff-green;
  }

  h3, .h3 {
    font-size: rem-calc(24px);
    font-weight: 600;
    letter-spacing: 1px;
    color: $color-ff-green;

    a {
      color: $color-ff-green;
    }
  }

  h4, .h4 {
    font-size: rem-calc(20px);
    color: $color-ff-gray-dark;
  }

  h5, .h5 {
    font-size: 1rem;
    text-transform: uppercase;
    color: $color-ff-gray-dark;
  }

  a {
    color: $color-ff-blue;
  }

  ul {
    li {
      &::before {
        color: $color-ff-orange;
      }
    }
  }

  &.content {
    p {
      color: black;
    }

    strong {
      color: $color-ff-gray-dark;
    }
  }
}

a {
  text-decoration: underline;
  font-weight: bold;
  transition: all 0.3s;

  &:hover, &:active {
    text-decoration-style: double;
    // color: $color-green;

    html[data-contrast="true"] & {
      color: $color-white;
    }
  }
}

blockquote {
  border-left: 0;

  &.wp-block-pullquote {
    clear: both;
    padding-left: 3em;
    padding-right: 3em;
  }
}

.label {
  // font-family: $font-serif;
  font-weight: 600;
}

strong {
  font-weight: 700;
}

abbr[title] {
  border-bottom: 0;
}

sup.footnote {
  a {
    font-size: 0.7em !important;
    color: $color-ff-blue;
  }
}
