$color-ff-green: #81BC41;
$color-ff-blue: #4597CB;
$color-ff-orange: #F89C24;
$color-ff-orange-light: #FEF7EE;
$color-ff-brown: #744F28;
$color-ff-gray-dark: #4D5C6B;
$color-ff-gray-med: #8194AA;
$color-ff-gray-light: #E6EAEE;

$primary-color:               $color-ff-green;
$secondary-color:             $color-ff-gray-dark;
$success-color:               $color-ff-green;
$error-color:                 #A3320B;
$link-color:                  $color-ff-blue;
