.banner .cta-link .btn {
  background: $color-white;
  color: $color-ff-green;

  &:hover, &:active, &:focus {
    @extend .z-depth-3;
  }
}

.banner {
  z-index: 4;

  .fl-builder-edit & {
    z-index: auto;
  }

  .logo {
    position: relative;
    padding: 10px 25px;
    margin: 0.125rem;
  }

  .search-form {
    margin: 1rem auto;

    @media #{$large-and-up} {
      margin: 0 auto;
    }
  }
}
