.banner .cta-link .btn {
  background: $color-white;
  color: $color-ff-green;

  &:hover, &:active, &:focus {
    @extend .z-depth-3;
  }
}

.banner {
  z-index: 4;

  .fl-builder-edit & {
    z-index: auto;
  }
}

.navbar-menu {
  flex-grow: 1;
}
