.excerpt .overlay {
  background: $color-ff-orange;
}

.wp-block-image figure {
  width: 100%;

  @media #{$medium-and-up} {
    width: auto;
    max-width: 50%;
  }
}

.content.content .wp-block-pullquote {
  border-color: $color-ff-gray-light;

  p {
    color: $color-ff-gray-dark;
  }
}

.single-ff-case-study {
  .entry-content {
    margin-bottom: 6em;
  }

  hr {
    background-color: $color-ff-gray-light;
    border: none;
    margin-top: 0;
    height: 3px;
  }
}

.wp-block-separator {
  border-color: $color-ff-gray-light;
}
